!!! 5
html(lang="en")
	head
		title DiaS'pura Tickets
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="../assets/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="../assets/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="../assets/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed", href="../assets/ico/apple-touch-icon-57-precomposed.png")
		link(rel="shortcut icon", href="../assets/ico/favicon.png")

		style.
			input {
				left: 0;
				margin-left: 100px;
				position: absolute;
			}
			textarea {
				width: 600px;
				height: 150px;
				padding: 5px;
			}
			form {
				margin-bottom: 10px;
				width: 400px;
			}
			td {
				padding: 3px;
				width: 75px;
			}
			input, label {
				float: left;
			}
			thead {
				font-weight: bold;
			}
			table {
				text-align: center;
			}

			li {background: none}

			body {
				padding: 20px 150px 60px 150px;
			}
			.container {
				margin: 0 auto;
				max-width: 1000px;
			}
				.container > hr {
				margin: 60px 0;
			}

			.jumbotron {
				margin: 80px 0;
				text-align: center;
			}
			.jumbotron h1 {
				font-size: 100px;
				line-height: 1;
			}
			.jumbotron .lead {
				font-size: 24px;
				line-height: 1.25;
			}
			.jumbotron .btn {
				font-size: 21px;
				padding: 14px 24px;
			}

			.marketing {
				margin: 60px 0;
			}
			.marketing p + h4 {
				margin-top: 28px;
			}

			.navbar .navbar-inner {
				padding: 0;
			}
			.navbar .nav {
				margin: 0;
				display: table;
				width: 100%;
			}
			.navbar .nav li {
				display: table-cell;
				width: 1%;
				float: none;
			}
			.navbar .nav li a {
				font-weight: bold;
				text-align: center;
				border-left: 1px solid rgba(255,255,255,.75);
				border-right: 1px solid rgba(0,0,0,.1);
			}
			.navbar .nav li:first-child a {
				border-left: 0;
				border-radius: 3px 0 0 3px;
			}
			.navbar .nav li:last-child a {
				border-right: 0;
				border-radius: 0 3px 3px 0;
			}

	body
		div.masthead
			h3.muted DiaS'pura Tickets
			div.navbar
				div.navbar-inner
					div.container
						ul.nav
							li: a(href="/") Home
							li: a(href="/new") New Orders
							li.active: a(href="#") Purchased

		hr


		//div.row-fluid
		//	div.span12				

		h3 Tickets Purchased
		table(border="1")
			thead
				td(style="width:100px") Name
				td Quantity
				td Price
				td(style="width:150px") Remarks
				td Paid
			- for (var order in docs) 
				tr
					td= docs[order].name
					td= docs[order].numtickets
					td= docs[order].price
					td= docs[order].remarks
					td= docs[order].paid

		hr

		div.footer
			p &copy; ClubSG 2013

//<script src="../assets/js/jquery.js"></script>
//<script src="../assets/js/bootstrap-transition.js"></script>
//<script src="../assets/js/bootstrap-alert.js"></script>
//<script src="../assets/js/bootstrap-modal.js"></script>
//<script src="../assets/js/bootstrap-dropdown.js"></script>
//<script src="../assets/js/bootstrap-scrollspy.js"></script>
//<script src="../assets/js/bootstrap-tab.js"></script>
//<script src="../assets/js/bootstrap-tooltip.js"></script>
//<script src="../assets/js/bootstrap-popover.js"></script>
//<script src="../assets/js/bootstrap-button.js"></script>
//<script src="../assets/js/bootstrap-collapse.js"></script>
//<script src="../assets/js/bootstrap-carousel.js"></script>
//<script src="../assets/js/bootstrap-typeahead.js"></script>

